<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bw_style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css"/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
</head>
<body>
<div id="gameBoard">
    {% for i in range(10) %}
        <div class="cardPlace"></div>
    {% endfor %}
    <div id="completedDeck"></div>
    <div id="cardDeck"></div>
</div>
</body>
</html>