<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CFC</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='memory.css') }}">
</head>
<body class="index">
<div class="containercenter">
    <div class="blackwidow"><a href="/widow">Black widow</a></div>
    <div class="cfc"><img src="/static/images/cfclogo.png" class="cfc"></div>
    <div class="memory"><a href="/memory"><img src="/static/images/memory.png"></a></div>
</div>
</body>
</html>