<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CFC | Memory</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css"/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
    <script src="{{ url_for('static', filename='memory.js') }}" defer></script>
</head>
<body>
<div class="memorycontainer" id="memorycontainer">
    {% for i in range(5) %}
    <div class="card" id={{ i+1 }}><img src="/static/images/cardbackground.png"></div>
    {% endfor %}
</div>
<button class="diff" data-time="5">Beginner</button>
<button class="diff" data-time=3>Amateur</button>
<button class="diff" data-time="1">Expert</button>
<p id="timer"></p>
<div id="moves"></div>
</body>
</html>